.input_login {
  font-size: 1.2rem;
  padding: 0.4rem 0.6rem;
  border-radius: 3px;
  border: 1px solid white;
  width: 100%;
  width: 120%;
  margin: 0 -15%;
}

button[type='submit'] {
  width: 5rem;
  margin-top: 1rem;
  padding: 0.4rem 0.6rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: darkgray;
}
